.pb_8 {
  padding-bottom: 8px;
}

.btn {
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--dark-champagne-pink);
  padding: 8px 16px;
}

.btn:active {
  transform: scale(.95);
}